.pswp__video-container
{

}

.pswp__video-container iframe, .pswp__video-container object, .pswp__video-container embed{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
}

#readytoloadtxt
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}